################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/sqlexecDevWeb/bin
/src/sqlexecDevWeb/obj
/src/sqlexecDevWeb/wwwroot/lib
/src/.vs
/src/sqlexecDevWeb/sqlexecDevWeb.csproj.user
/src/sqlexecCodeGen/bin
/src/sqlexecCodeGen/obj
/src/CodeGenTests/obj
/src/CodeGenTests/bin
/src/CodeOutput/obj
/src/CodeOutput/bin
/src/CodeOutputTests/bin/Debug/net8.0
/src/CodeOutputTests/obj
/src/CodeOutputTests/bin
