@using Sorling.sqlexecDevWeb
@using Sorling.sqlexecDevWeb.pages.sqlsrv.components.topnav
@model TopNavViewComponent
@{
    string? db = ViewContext.RouteData.Values[RouteDataKeysConsts.URLROUTEPARAMDB]?.ToString();
}
<div>
    @if (db is not null){
        <a class="ps-2" href="@(SqlAuth.UriEscapedPath)">@(SqlAuth.SQLServer)/@(SqlAuth.UserName)</a><a sed-page="Sorling.SqlExecMeta.SqlGroupFlags.TopLevel">/@db</a>
    }
    else
    {
        <a class="ps-2" href="@(SqlAuth.UriEscapedPath)">@(SqlAuth.SQLServer)/@(SqlAuth.UserName)</a>
    }
</div>