@using Sorling.sqlexecDevWeb.models.pagemodels
@using Sorling.sqlexecDevWeb.extensions
@model DBItemPageModel

@if (Model.SqlItemPrevNxt is not null)
{
    <div class="btn-group btn-group-sm container-fluid">
        @if (Model.SqlItemPrevNxt.PreviousName is not null)
        {
            <a class="btn btn-secondary" sed-filter-keep sed-prv-item="Model.SqlItemPrevNxt">&lt;&lt;Previous @Model.SqlItemPrevNxt.PreviousId</a>
        }
        else
        {
            <span class="btn btn-secondary disabled">&lt;&lt;Previous</span>
        }
        <a class="btn btn-secondary" sed-page="Model.FilterGroup">List</a>
        @if (Model.SqlItemPrevNxt.NextName is not null)
        {
            <a class="btn btn-secondary" sed-filter-keep sed-nxt-item="Model.SqlItemPrevNxt">Next @(Model.SqlItemPrevNxt.NextId)&gt;&gt;</a>
        }
        else
        {
            <span class="btn btn-secondary disabled">Next&gt;&gt;</span>
        }
    </div>
}

