@using Sorling.SqlExecMeta;
@using Sorling.sqlexecDevWeb.extensions;
@using Sorling.sqlexecDevWeb.models.pagemodels;
@model DBItemPageModel
@{
}
@if (Model.DBItems is not null)
{
    <table class="table table-striped">
        <tr><th>Schema</th><th>Name</th><th>Type</th></tr>
        @foreach (var item in Model.DBItems)
        {
            <tr>
                <td><a sed-schema="@item.SchemaName">@item.SchemaName</a></td>
                <td><a sed-sqlitem="item" sed-filter-current-page="true">@item.Name</a></td>
                <td>@item.GroupFlag.GetGroupItemName()</td>
            </tr>
        }
    </table>
}
