@page "{db}/{prj}/{schema?}/{obj?}/{filter:long?}/{filterschema?}"
@model Sorling.sqlexecDevWeb.pages.sqlsrv.ProjectsModel
@{
}
<h2>Predefined</h2>
<table class="table table-striped">
    <tr><th>Name</th><th>Description</th></tr>
    <tr><td>sqlexec</td><td>Code creation sqlexec</td></tr>
    <tr><td>sqlclient</td><td>Code creation SqlClient</td></tr>
</table>